{{> head}}
{{> nabvar}}

<div class="row">

    <div class="col-8">
        <h1>The dark side of the moon</h1>
    </div>

    <div class="col-4" id="left">
        <img src="assets/img/611491.jpg" class="img-thumbnail" />
    </div>

</div>
{{> footer}}